* {
    font:             "JetBrains Mono Nerd Font 9";
    background:       #1d2021FF;  /* bg0_hard */
    background-alt:   #282828FF;  /* bg0 */
    foreground:       #ebdbb2FF;  /* fg */
    blue:             #458588FF;  /* blue */
    orange:           #d79921FF;  /* orange */
    green:            #98971aFF;  /* green */
    red:              #cc241dFF;  /* red */
    aqua:             #8ec07cFF;  /* aqua */
}
